<section class = "section">
<%= debug session[:shopping_cart]%>
<%=form_with url: cart_index_path, method: :post do%>
    <div class ="container">
      <div>
        <div class= "columns ">
          <div class ="column is-half">
            <%= image_tag @ram.image%>
          </div>
          <div class = "column is-half ">
            <div class ="">
              <h1 class= "title is-4"><%= @ram.Name%></h1>
              <h1 class = "title is-4">Price: $<%=@ram.Price%></h1>
              <h1 class = "title is-4"><%=@ram.Stock%> Left in stock!</h1>
              <div class = "mt-4">

              <%if session[:shopping_cart].include?(@ram.id)%>
                <%= button_to cart_path(@ram.id), method: :delete do %>
                  Remove from cart
                <%end%>
              <%else%>
                <%=form_with url: cart_index_path, method: :post do%>
                  <%= hidden_field_tag(:id, @ram.id)%>
                  <%= button_tag 'Add to cart' %>
                <%end%>
              <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>
<%end%>
</section>
<section class = "section">
  <div class="content">
    <div class = "container">
      <%if @ram.Description != "null"%>
      <h2>Item Description</h2>
      <p><%=@ram.Description%></p>
      <%else%>
      <h2>No description avaliable.</h2>
      <%end%>
    </div>
  </div>
</section>