<h1 class = "title is-2">Shopping Cart</h1>
<%if @cart.orderables.count.positive?%>
<table class ="table">
  <thead>
    <tr>
      <th>
        Product Name
      </th>
      <th>
        Price
      </th>
      <th>
        Order Quantity
      </th>
    </tr>
  </thead>
  <% @cart.orderables.each do |i|%>
  <% product = Product.find_by(id: i.product_id)%>
    <tbody>
          <tr>
        <th>
          <%= link_to product.Name, product%>
        </th>
        <th>
          $<%= product.Price * i.quantity%>
        </th>
        <th>

        <%=form_with url: cart_add_path do |f| %>
            <%= f.hidden_field :id, value: product.id %>
            <%= f.number_field :quantity, value: i.quantity, min: 1  %>
            <%= f.submit "update cart"%>
        <%end%>
        <%=form_with url: cart_remove_path, method: :delete do |f| %>
            <%= f.hidden_field :id, value: i.id %>
            <%= f.submit "Remove from Cart"%>
        <%end%>
        </th>
      </tr>
    </tbody>
  <%end%>
  </table>

<%if current_user.address.present?%>
<h2 class= "title is-6">Shipping to: <%=current_user.address%> <%=current_user.province.code%></h2>
<%end%>
<h2 class= "title is-5">Subtotal: $<%=@cart.subtotal%></h2>
<h2 class= "title is-4"> Order Total: $<%=calculate_total%></h2>
<div class = "title is-4 mt-5"><%= link_to "Continue shopping", root_path%></div>
<%= button_to "Place Order", checkout_create_path(@cart.id) %>
<%else%>
<h1 class ="title is-3">Your cart items show here.</h1>
<div class = "title is-6"><%= link_to "Return to Shopping", root_path%></div>
<%end%>




