<form action = "">
<%= paginate @products%>
  <section class = "section">
  <h1 class="title is-3">All products <%=@count%></h1>
    <div class= "container">
      <div style = "height: 100%" class = "columns is-flex-direction-row is-flex-wrap-wrap is-align-items-stretch ">
        <%@products.each do |p|%>
          <div class = "column is-one-quarter ">
            <div class = "card ">
              <div class ="card-image has-text-centered ">
                <figure>
                  <img src="<%=p.imagePath%>" alt = 'image of <%= p.Name%>'>
                </figure>
              </div>
              <div class= "card-content" >
                <p style = " height: 50px text-overflow: ' '"  ><a href="/products/<%=p.id%>"><%=p.Name%></p></a>
                <p class="is-size-3 my-5">
                  <b>$<%= p.Price.round(2) %></b>
                </p>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </section>
</form>





