<%= paginate @products%>
  <section class = "section">
  <%if @products.count > 0 %>
  <h1 class="title is-2">Results found for "<%=@query%>"</h1>
  <%else%>
  <h1 class="title is-2">No Results found for "<%=@query%>"</h1>
  <%end%>
    <div class= "container">
      <div class = "columns is-flex-direction-row is-flex-wrap-wrap is-align-content-stretch">
        <%@products.each do |p|%>
          <div class = "column is-one-quarter ">
            <div class = "card">
              <div class ="card-image has-text-centered ">
                <figure class = "">
                  <img src="<%=p.imagePath%>">
                </figure>
              </div>
              <div class= "card-content">
                <p><a href="/products/<%=p.id%>"><%=p.Name%></p></a>
                <p class="is-size-3 my-5">
                  <b>$<%= p.Price.round(2) %></b>
                </p>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </section>
</form>