<div class="container px-5 py-6 has-background-white-bis">
  <h1 class="title is-1"><%= @product.Name %></h1>

  <div class="columns has-background-white px-3 py-4">
    <div class="column">
        <%if @product.image.present?%>
        <%= image_tag @product.image %>
        <%end%>
    </div>

    <div class="column is-two-fifths">
      <div class="mt-6">
        <%if @product.Description != "null"%>
        <%=@product.Description%>
        <%else%>
        No description available.
        <%end%>
      </div>

        <p class="is-size-3 my-5">
          <b><sup>$</sup><%= @product.Price %></b>
        </p>

        <p>
          Product category:
          <i>
           <%= link_to @product.category.name, @product.category %>
          </i>
        </p>

        <% if user_signed_in? %>
          <p>
            Deliver to: <b><%= current_user.address%>, <%= current_user.province.code%></b>
          </p>
        <% end %>

        <p class="has-text-success"><b>In Stock</b></p>

        <div class="my-2">
          <% if user_signed_in? %>
            <% if session[:shopping_cart].include?(@product.id) %>
              <%= button_to "Remove from Cart", remove_from_cart_path(@product.id), method: :delete %>
            <% else %>
              <%= button_to "Add to Cart", add_to_cart_path(@product.id), class: "button is-primary" %>
              <%= form_with url: checkout_create_path, remote: true do %>
                <%= hidden_field_tag(:product_id, @product.id) %>
                <%= button_tag 'Buy Now', class: "button is-info mt-2" %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to "Sign In to Purchase", new_user_session_path, class: "button is-link is-rounded" %>
          <% end %>
        </div>
        <p>Secure Transaction</p>
        <p>Ships from Canada and sold by <%= link_to "Byte me!", root_path %></p>
    </div>
  </div>
</div>